body {
  background-color: #FFFDD0;
}

p {
  color: black ;
  font-family: verdana;
  font-size: 15px;
}

table border{
  color: green;
  width: 10;
}

a:link {
  color: black;
  font-size:15px;
}

a:visited {
  color: light blue;
}
a:hover{
  color: dark blue;
}
